.carousel {

    ul {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(theme('width.24'), 1fr));
        gap: theme('spacing.2');
    }

    aside img {
        max-height: 90vh;
        max-width: calc(100% - 2 * theme('width.10') - 4 * theme('spacing.2'));
    }

}
