$svg-stroke-width: 10px;
$svg-stroke-color: rgba(0,0,0,.2);

header nav {
    @apply w-full;

    .sections a {
        @apply relative p-2 text-black font-bold uppercase flex items-center opacity-50;

        &:hover, &:focus, &.active {
            @apply opacity-100;

            span {
                @apply border-black;
            }

        }

        &:hover {
            @apply bg-overlay;
        }

        span {
            @apply border-b-2 border-transparent;
        }

    }

    .socials a {
        @apply px-2 min-w-10 flex items-center justify-center opacity-50;

        &:hover, &:focus {
            @apply opacity-100;
        }

        &:hover {
            @apply bg-overlay;
        }

    }

    [data-platform="twitter"] {

        path {
            stroke-width: $svg-stroke-width;
            stroke: $svg-stroke-color;
        }

    }

    [data-platform="youtube"] {

        svg {
            @apply h-8 p-0 -m-1;
        }

    }

    [data-platform="mastodon"] {

        path:first-child {
            stroke-width: $svg-stroke-width;
            stroke: $svg-stroke-color;
        }

    }

    // Tablet & Desktop
    @media (min-width: theme('screens.md')) {
        background: theme('colors.overlay') !important;

        .wrapper {
            @apply max-w-content h-full mx-auto flex justify-between;

            .sections, .socials {
                @apply flex;
            }

            .socials a span {
                @apply hidden;
            }

        }

    }

    // Mobile
    @media (max-width: theme('screens.md')) {
        top: theme('spacing.16');
        transition: right 300ms;

        @apply fixed bottom-0;

        &:not(.open) {
            right: 100%;
        }

        &.open {
            right: 0;
        }

        .wrapper {
            @apply max-h-full overflow-auto;

            .sections a {
                @apply px-4 py-3 opacity-100;
            }

            .socials a {
                @apply px-4 py-3 justify-start opacity-100;

                span {
                    @apply ml-2;
                }

            }

        }

    }

}
