header {
    transition-property: margin-top;
    transition-duration: 2s;
}

// Tablet
@media (min-width: theme('screens.md')) {

    header.collapsed {
        margin-top: calc(theme('height.5') + 2 * theme('height.2') - theme('height.32'));
    }

}

// Desktop
@media (min-width: theme('screens.lg')) {

    header.collapsed {
        margin-top: calc(theme('height.5') + 2 * theme('height.2') - theme('height.40'));
    }

}
