// Variables
header_height = 300px
nav_height = 50px
nav_item_width = 30%
chilli_width = 10%
bootstrap_width = 1170px

// Styles
header
	width 100%
	background-color #b8e0df
	overflow hidden

	// We need a wrapper so that the height of #header-content is relative to #header-wrapper,
	// not relative to header which can be bigger than bootstrap_width
	#header-wrapper
		width 100%
		max-width bootstrap_width
		margin auto

		#header-content
			position relative
			height 0
			padding-bottom 25%

			img
				width 47.5%
				margin-left -15%
				margin-top -12.5%

			h1
				position absolute
				display inline-block
				width 60%
				bottom 0
				margin-left 2%

nav
	background-color black
	height nav_height
	width 100%

	ul
		list-style none
		margin auto
		padding-left 0
		width 100%
		max-width bootstrap_width

	li
		float left
		line-height nav_height
		text-align center
		width nav_item_width
		font-weight bold

		a
			display block
			text-decoration none !important
			width 100%
			height nav_height

		a, a:visited, a:hover, a:active, a:link
			color white

	li:hover
			background-color gray

	li#chilli
		padding 5px 0
		width chilli_width
		height nav_height

		a
			height 100%
			width 100%
			background url('../img/chilli-up.png') center / contain no-repeat;

		a:hover
			background url('../img/chilli-down.png') center / contain no-repeat;

.navigation-stuck

	nav
		position fixed
		top 0
		margin-top 0
		z-index 1