header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 200px;
  background-color: #b8e0df;
  z-index: -1;
}
nav {
  margin-top: 200px;
  background-color: #000;
  height: 50px;
  width: 100%;
}
nav ul {
  list-style: none;
  margin: auto;
  padding-left: 0;
  width: 100%;
  max-width: 1170px;
}
nav li {
  float: left;
  line-height: 50px;
  text-align: center;
  width: 30%;
  font-weight: bold;
}
nav li a {
  display: block;
  text-decoration: none !important;
  width: 100%;
  height: 50px;
}
nav li a,
nav li a:visited,
nav li a:hover,
nav li a:active,
nav li a:link {
  color: #fff;
}
nav li:hover {
  background-color: #808080;
}
nav li#chilli {
  padding: 5px 0;
  width: 10%;
  height: 50px;
}
nav li#chilli a {
  height: 100%;
  width: 100%;
  background: url("../img/chilli-up.png") center/contain no-repeat;
}
nav li#chilli a:hover {
  background: url("../img/chilli-down.png") center/contain no-repeat;
}
.navigation-stuck nav {
  position: fixed;
  top: 0;
  margin-top: 0;
  z-index: 1;
}
.navigation-stuck #main-content {
  margin-top: 250px;
}
