// Variables
header_height = 200px
nav_height = 50px
nav_item_width = 30%
chilli_width = 10%

// Styles
header
	position absolute
	top 0
	width 100%
	height header_height
	background-color #b8e0df
	z-index: -1

nav
	margin-top header_height
	background-color black
	height nav_height
	width 100%

	ul
		list-style none
		margin auto
		padding-left 0
		width 100%
		max-width 1170px // bootstrap container width

	li
		float left
		line-height nav_height
		text-align center
		width nav_item_width
		font-weight bold

		a
			display block
			text-decoration none !important
			width 100%
			height nav_height

		a, a:visited, a:hover, a:active, a:link
			color white

	li:hover
			background-color gray

	li#chilli
		padding 5px 0
		width chilli_width
		height nav_height

		a
			height 100%
			width 100%
			background url('../img/chilli-up.png') center / contain no-repeat;

		a:hover
			background url('../img/chilli-down.png') center / contain no-repeat;

.navigation-stuck

	nav
		position fixed
		top 0
		margin-top 0
		z-index 1

	#main-content
		margin-top: header_height + nav_height