html {
  font-size: 16px;
}
@media only screen and (max-width: 989px) {
  html {
    font-size: 14px;
  }
}
@media only screen and (max-width: 750px) {
  html {
    font-size: 12px;
  }
}
@media only screen and (max-width: 500px) {
  html {
    font-size: 10px;
  }
}
@font-face {
  font-family: 'HVD Comic Serif Pro Regular';
  src: url("fonts/HVD_Comic_Serif_Pro-webfont.eot");
  src: url("fonts/HVD_Comic_Serif_Pro-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/HVD_Comic_Serif_Pro-webfont.woff") format('woff'), url("fonts/HVD_Comic_Serif_Pro-webfont.ttf") format('truetype'), url("fonts/HVD_Comic_Serif_Pro-webfont.svg#hvd_comic_serif_proregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
header {
  position: relative;
  width: 100%;
  background-color: #b8e0df;
  overflow: hidden;
}
header #social-links {
  width: 100%;
  max-width: 1170px;
  position: absolute;
  z-index: 1;
  top: 5%;
  right: 2%;
}
header #social-links a {
  float: right;
  margin: 1%;
  width: 3.125rem;
  height: 3.125rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
header #social-links a#twitter {
  background-image: url("../img/twitter-gray.png");
}
header #social-links a#twitter:hover,
header #social-links a#twitter:active {
  background-image: url("../img/twitter.png");
}
header #social-links a#linkedin {
  background-image: url("../img/linkedin-gray.png");
}
header #social-links a#linkedin:hover,
header #social-links a#linkedin:active {
  background-image: url("../img/linkedin.png");
}
header #social-links a#gmail {
  background-image: url("../img/gmail-gray.png");
}
header #social-links a#gmail:hover,
header #social-links a#gmail:active {
  background-image: url("../img/gmail.png");
}
header #header-wrapper {
  width: 100%;
  max-width: 1170px;
  margin: auto;
}
header #header-wrapper #header-content {
  position: relative;
  height: 0;
  padding-bottom: 25%;
}
header #header-wrapper #header-content img {
  width: 47.5%;
  margin-left: -15%;
  margin-top: -12.5%;
}
header #header-wrapper #header-content h1 {
  position: absolute;
  display: inline-block;
  width: 60%;
  bottom: 0;
  margin-left: 2%;
  font-size: 5rem;
  font-family: 'HVD Comic Serif Pro Regular', Arial, sans-serif;
}
nav {
  background-color: #000;
  height: 3.125rem;
  width: 100%;
}
nav ul {
  width: 100%;
  max-width: 1170px;
  list-style: none;
  margin: auto;
  padding-left: 0;
}
nav li {
  float: left;
  width: 30%;
}
nav li a {
  width: 100%;
  height: 3.125rem;
  display: block;
  line-height: 3.125rem;
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
  text-decoration: none !important;
}
nav li a,
nav li a:visited,
nav li a:hover,
nav li a:active,
nav li a:link {
  color: #fff;
}
nav li:hover,
nav li.active {
  background-color: #808080;
}
nav li#chilli {
  width: 10%;
  height: 3.125rem;
  padding: 5px 0;
}
nav li#chilli a {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("../img/chilli-up.png");
}
nav li#chilli a:hover {
  background-image: url("../img/chilli-down.png");
}
.navigation-stuck nav {
  position: fixed;
  top: 0;
  z-index: 2;
}
#login {
  margin-top: 20px;
}
#main-content {
  padding: 15px;
}
.post .title {
  font-size: 3rem;
  font-family: "Lucida Grande", "Tahoma", sans-serif;
  color: #000;
}
.post .title a {
  text-decoration: none;
  color: inherit;
}
.post .title a:hover,
.post .title a:active {
  color: #276c8c;
}
.post .body img {
  max-width: 100%;
  display: block;
  margin: auto;
}
.post .publish-date {
  font-weight: bold;
  float: right;
}
.post .share {
  background-color: #eee;
  padding: 5px;
  display: inline-block;
}
.post .share .text {
  font-size: 1.75rem;
  font-weight: bold;
  float: left;
  line-height: 3.125rem;
  margin: 5px;
}
.post .share .social-share {
  float: left;
  width: 3.125rem;
  height: 3.125rem;
  margin: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.post .share .social-share.twitter {
  background-image: url("../img/twitter-gray.png");
}
.post .share .social-share.twitter:hover,
.post .share .social-share.twitter:active {
  background-image: url("../img/twitter.png");
}
.post .share .social-share.facebook {
  background-image: url("../img/facebook-gray.png");
}
.post .share .social-share.facebook:hover,
.post .share .social-share.facebook:active {
  background-image: url("../img/facebook.png");
}
.post .share .social-share.gplus {
  background-image: url("../img/gplus-gray.png");
}
.post .share .social-share.gplus:hover,
.post .share .social-share.gplus:active {
  background-image: url("../img/gplus.png");
}
.post .share .social-share.gmail {
  background-image: url("../img/gmail-gray.png");
}
.post .share .social-share.gmail:hover,
.post .share .social-share.gmail:active {
  background-image: url("../img/gmail.png");
}
.readable-text {
  font-size: 1.25rem;
}
