// Variables & Mixins
base_fontsize = 16
bootstrap_width = 1170px
nav_height = (50 / base_fontsize) rem
social_links_height = nav_height

fit_to_bootstrap()
	width 100%
	max-width bootstrap_width

// Media queries
html
	font-size base_fontsize px

@media only screen and (max-width: 989px)
	html
		font-size 14px

@media only screen and (max-width: 750px)
	html
		font-size 12px

// Styles
@font-face
	font-family: 'HVD Comic Serif Pro Regular'
	src url('fonts/HVD_Comic_Serif_Pro-webfont.eot')
	src url('fonts/HVD_Comic_Serif_Pro-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/HVD_Comic_Serif_Pro-webfont.woff') format('woff'),
		url('fonts/HVD_Comic_Serif_Pro-webfont.ttf') format('truetype'),
		url('fonts/HVD_Comic_Serif_Pro-webfont.svg#hvd_comic_serif_proregular') format('svg')
	font-weight normal
	font-style normal

header
	position relative
	width 100%
	background-color #b8e0df
	overflow hidden

	#social-links
		fit_to_bootstrap()
		position absolute
		z-index 1
		top 5%
		right 2%

		a
			float right
			margin 1%
			width social_links_height
			height social_links_height
			background-repeat no-repeat
			background-position center
			background-size contain
			text-indent 100%
			white-space nowrap
			overflow hidden

			for social_network in 'twitter' 'linkedin' 'gmail'

				&#{social_network}
					background-image url('../img/' + social_network + '-gray.png')

					&:hover, &:active
						background-image url('../img/' + social_network + '.png')


	// We need a wrapper so that the height of #header-content is relative to #header-wrapper,
	// not relative to header which can be bigger than bootstrap_width
	#header-wrapper
		fit_to_bootstrap()
		margin auto

		#header-content
			position relative
			height 0
			padding-bottom 25%

			img
				width 47.5%
				margin-left -15%
				margin-top -12.5%

			h1
				position absolute
				display inline-block
				width 60%
				bottom 0
				margin-left 2%
				font-size 5rem
				font-family 'HVD Comic Serif Pro Regular', Arial, sans-serif

nav
	background-color black
	height nav_height
	width 100%

	ul
		fit_to_bootstrap()
		list-style none
		margin auto
		padding-left 0

	li
		float left
		width 30%

		a
			width 100%
			height nav_height
			display block
			line-height nav_height
			font-size 1rem
			text-align center
			font-weight bold
			text-decoration none !important

			&, &:visited, &:hover, &:active, &:link
				color white

		&:hover, &.active
			background-color gray

		&#chilli
			width 10%
			height nav_height
			padding 5px 0

			a
				width 100%
				height 100%
				background-repeat no-repeat
				background-position center
				background-size contain
				background-image url('../img/chilli-up.png')

				&:hover
					background-image url('../img/chilli-down.png')

.navigation-stuck

	nav
		position fixed
		top 0
		z-index 2

#login
	margin-top 20px

#main-content
	padding 15px

.post

	.title
		font-size 3rem
		font-family "Lucida Grande","Tahoma",sans-serif
		color black

		a
			text-decoration none
			color inherit

			&:hover, &:active
				color #276c8c

	.body
		font-size 1.25rem

	.share
		background-color #eee
		padding 5px
		display inline-block

		.text
			font-size 1.75rem
			font-weight bold
			float left
			line-height social_links_height
			margin 5px

		.social-share
			float left
			width social_links_height
			height social_links_height
			margin 5px
			background-repeat no-repeat
			background-position center
			background-size contain
			text-indent 100%
			white-space nowrap
			overflow hidden

			for social_network in 'twitter' 'facebook' 'gplus'

				&.{social_network}
					background-image url('../img/' + social_network + '-gray.png')

					&:hover, &:active
						background-image url('../img/' + social_network + '.png')