/* Styles */

body, html {
	height: 100%;
}

body {
	background: #d8d8d8;
	background-image: url('../img/bits.png');
	margin: 0;
}

table, td {
	margin: 0;
	padding: 0;
	border-collapse: collapse;
}

#top {
	position: absolute;
	left: 5%;
	right: 5%;
	top: 2%;
	z-index: 10;
}

#alert {
	width: 100%;
	color: #8A6D3B;
	background-color: #FCF8E3;
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid #FAEBCC;
	border-radius: 4px;
}

	#alert a {
		color: #428BCA;
		text-decoration: none;
	}

#under-construction {
	width: 100%;
	height: 100%;
}

	#under-construction td {
		vertical-align:middle;
		text-align:right;
	}

	#under-construction img {
		width: 60%;
	}

#title {
	font-family: Verdana, Geneva, sans-serif;
	position: absolute;
	bottom: 0;
	margin: 0;
	left: 5%;
	font-size: 12em;
}

/* Media Queries */

@media only screen and (max-width: 1200px) {
	#title {
		font-size: 10em;
	}
}

@media only screen and (max-width: 1024px) {
	#title {
		font-size: 7em;
	}
}

@media only screen and (max-width: 768px) {
	#title {
		font-size: 5em;
	}
}

@media only screen and (max-width: 500px) {
	#title {
		font-size: 3em;
	}
}

@media screen and (orientation:portrait) {
	#under-construction img {
		width: 90%;
	}
}