@import 'tailwindcss' source('../../../');
@plugin '@tailwindcss/typography';

@theme {
    --font-ubuntu: 'Ubuntu', 'sans-serif';
    --font-ubuntu-mono: 'Ubuntu Mono', 'sans-serif';

    --color-chamaleon: hsl(180, 40%, 80%);
    --color-error: #f44336;
    --color-rss: #ff6600;

    --color-black-light: #4a4a4a;
    --color-black: #22292f;
    --color-black-dark: #000000;

    --color-grey-lightest: #f8fafc;
    --color-grey-lighter: #f1f5f8;
    --color-grey-light: #dae1e7;
    --color-grey: #b8c2cc;
    --color-grey-dark: #8795a1;
    --color-grey-darker: #606f7b;
    --color-grey-darkest: #3d4852;

    --color-jade-lighter: #bdead9;
    --color-jade: #00af6f;
    --color-jade-darker: #007047;

    --color-blue-lightest: #eff8ff;
    --color-blue-lighter: #bcdefa;
    --color-blue-light: #6cb2eb;
    --color-blue: #3490dc;
    --color-blue-dark: #2779bd;
    --color-blue-darker: #266193;
    --color-blue-darkest: #12283a;

    --color-yellow-lighter: #faf089;
    --color-yellow-darker: #b7791f;
    --color-yellow-darkest: #744210;

    --color-overlay: rgba(0, 0, 0, 0.075);
    --color-overlay-dark: rgba(0, 0, 0, 0.7);

    --max-width-readable: 640px;
    --max-width-content: 900px;
}

@layer base {
    @import './_content.css';
    @import './_fonts.css';
}

@layer components {
    @import './_turbo.css';
}
