main {
    a {
        @apply underline;

        &:visited {
            @apply text-blue-darkest;
        }

        &:hover {
            color: theme('colors.black-dark');
        }
    }

    h1,
    .h1 {
        @apply text-blue-darkest mb-4 text-3xl font-medium tracking-wide;
    }

    h2 {
        @apply text-blue-darkest my-4 text-2xl font-medium;
    }

    h3 {
        @apply text-blue-darkest my-4 text-xl font-medium;
    }

    p {
        @apply my-6 leading-normal;
    }

    ul,
    ol {
        @apply ml-4 pl-4;
    }

    ul {
        @apply list-disc;
    }

    ol {
        @apply list-decimal;
    }

    li p {
        @apply my-4;
    }

    hr {
        @apply bg-grey-dark mt-4 h-px;
    }

    img,
    video {
        @apply mx-auto max-w-full;
    }

    figure {
        @apply m-0 mb-6;

        figcaption {
            @apply mt-1 text-center text-sm italic;
        }
    }

    pre {
        /* screen width - p-4 */
        max-width: calc(100vw - 2 * theme('spacing.4'));
    }

    blockquote {
        @apply border-grey my-4 ml-4 border-l-2 p-2 italic;

        p:first-child {
            @apply mt-0;
        }

        p:last-child {
            @apply mb-0;
        }
    }
}

/* Mobile */
@media (max-width: theme('screens.md')) {
    body.navigation-open {
        @apply overflow-hidden;

        header {
            @apply fixed inset-x-0 top-0;
        }

        main {
            @apply mt-16;
        }
    }
}

/* Print */
@media print {
    p,
    li {
        page-break-inside: avoid;
    }
}
