code {
    background-color: #f1f5f8;
    border-radius: .5rem;
    color: #266193;
    font-size: .875em;
    font-weight: 400;
    padding: .25rem .5rem;
}

@import "~prismjs/themes/prism-tomorrow.css";

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    border-radius: .5rem;
}
