// Variables & Mixins
$post-inner-margin: 15px;
$social-links-height: 3.5rem;

// Styles

#editor {
    border: 1px solid #aaa;
    height: 500px;

    .editor-text {
        padding: 15px;
        height: 100%;
        width: 100%;
        float: left;
        overflow-y: hidden;
    }

    &.both .editor-text {
        width: 49.5%;
    }

    .editor-text:hover {
        overflow-y: auto;
    }

    #text-markdown {
        border: 0px;
        background: #d8d8d8;
        resize: none;
    }

    #column {
        background: #aaa;
        float: left;
        width: 1%;
        height: 100%;
    }

    &.preview #column,
    &.preview #text-markdown,
    &.write #column,
    &.write #text-html {
        display: none;
    }

}

#destroy-post {
    float: right;
}
