html {
    --default-display: block;

    @apply font-ubuntu font-normal text-base text-black-light leading-tight;
}

body {
    @apply flex flex-col min-h-screen;
}

main {
    @apply flex-grow w-full;

    a {
        @apply underline;

        &:visited {
            @apply text-blue-darkest;
        }

        &:hover {
            color: theme('colors.black-dark');
        }

    }

    h1 {
        @apply mb-4 text-3xl font-medium text-blue-darkest tracking-wide;
    }

    h2 {
        @apply my-4 text-2xl font-medium text-blue-darkest;
    }

    h3 {
        @apply my-4 text-xl font-medium text-blue-darkest;
    }

    p {
        @apply leading-normal my-6;
    }

    ul, ol {
        @apply ml-4 pl-4;
    }

    ul {
        @apply list-disc;
    }

    ol {
        @apply list-decimal;
    }

    li p {
        @apply my-4;
    }

    hr {
        @apply h-px bg-grey-dark mt-4;
    }

    img, video {
        @apply mx-auto max-w-full;
    }

    pre {
        // screen width - p-4
        max-width: calc(100vw - 2 * theme('spacing.4'));
    }

    blockquote {
        @apply border-grey border-l-2 italic p-2 ml-4 my-4;

        p:first-child {
            @apply mt-0;
        }

        p:last-child {
            @apply mb-0;
        }

    }

}

// Mobile
@media (max-width: theme('screens.md')) {

    body.navigation-open {
        @apply overflow-hidden;

        header {
            @apply fixed top-0 inset-x-0;
        }

        main {
            @apply mt-16;
        }

    }

}

// Print
@media print {

    body {
        @apply block;
    }

    p, li {
        page-break-inside: avoid;
    }

}
