html {
    @apply .font-ubuntu .font-normal .text-base .text-black-light .leading-tight;
}

main {

    a {
        @apply underline;

        &:hover {
            color: theme('colors.black-dark') !important;
        }

        &:visited {
            @apply text-blue-darkest;
        }

    }

    h1 {
        @apply .mb-4 .text-3xl .font-medium .text-blue-darkest .tracking-wide;
    }

    h2 {
        @apply .my-4 .text-2xl .font-medium .text-blue-darkest;
    }

    h3 {
        @apply .my-4 .text-xl .font-medium .text-blue-darkest;
    }

    p {
        @apply .leading-normal .my-6;
    }

    li p {
        @apply .my-4;
    }

    hr {
        @apply .h-px .bg-grey-dark .mt-4;
    }

    img {
        @apply .mx-auto .max-w-full;
    }

    blockquote {
        @apply .border-grey .border-l-2 .italic .p-2 .ml-4 .my-4;

        p:first-child {
            @apply .mt-0;
        }

        p:last-child {
            @apply .mb-0;
        }

    }

}

// Mobile
@media (max-width: theme('screens.md')) {

    body.navigation-open {
        @apply overflow-hidden;

        header {
            @apply fixed top-0 inset-x-0;
        }

    }

}
