@font-face {
    font-family: 'HVD Comic Serif Pro Regular';
    src: url('/fonts/HVD_Comic_Serif_Pro-webfont.eot');
    src:
        url('/fonts/HVD_Comic_Serif_Pro-webfont.eot?#iefix') format('embedded-opentype'),
        url('/fonts/HVD_Comic_Serif_Pro-webfont.woff') format('woff'),
        url('/fonts/HVD_Comic_Serif_Pro-webfont.ttf') format('truetype'),
        url('/fonts/HVD_Comic_Serif_Pro-webfont.svg#hvd_comic_serif_proregular') format('svg');
}