<svg
    xmlns="http://www.w3.org/2000/svg"
    class="{{ class ?? '' }}"
    viewBox="0 0 357.45 412.846"
>
    <defs>
        <linearGradient id="anima-a" x1=".535" x2=".601" y1=".064" y2=".828">
            <stop offset="0" stop-color="#ff009d" />
            <stop offset="1" stop-color="#ff9ad8" />
        </linearGradient>
        <pattern
            id="anima-b"
            width="147"
            height="386"
            x="68.584"
            y="13.423"
            patternUnits="userSpaceOnUse"
        >
            <path d="M0 0h147v386H0z" style="fill: url(#anima-a)" />
        </pattern>
    </defs>
    <ellipse
        cx="142.084"
        cy="206.423"
        fill="url(#anima-b)"
        class="fills"
        rx="73.5"
        ry="193"
        transform="rotate(22.623 142.084 206.423)"
    />
    <defs>
        <linearGradient id="anima-c" x1=".535" x2=".601" y1=".064" y2=".828">
            <stop offset="0" stop-color="#ff009d" />
            <stop offset="1" stop-color="#ff9ad8" />
        </linearGradient>
        <pattern
            id="anima-d"
            width="106"
            height="185"
            x="224.832"
            y="205.94"
            patternUnits="userSpaceOnUse"
        >
            <path d="M0 0h106v185H0z" style="fill: url(#anima-c)" />
        </pattern>
    </defs>
    <ellipse
        cx="277.832"
        cy="298.44"
        fill="url(#anima-d)"
        class="fills"
        rx="53"
        ry="92.5"
        transform="rotate(-18.505 277.833 298.44)"
    />
    <defs>
        <linearGradient id="anima-e" x1=".535" x2=".601" y1=".064" y2=".828">
            <stop offset="0" stop-color="#ff009d" />
            <stop offset="1" stop-color="#ff9ad8" />
        </linearGradient>
        <pattern
            id="anima-f"
            width="82"
            height="51"
            x="36.124"
            y="33.024"
            patternUnits="userSpaceOnUse"
        >
            <path d="M0 0h82v51H0z" style="fill: url(#anima-e)" />
        </pattern>
    </defs>
    <ellipse
        cx="77.124"
        cy="58.524"
        fill="url(#anima-f)"
        class="fills"
        rx="41"
        ry="25.5"
        transform="rotate(39.013 77.123 58.524)"
    />
</svg>
